section {
    padding: 10px;
    background: linear-gradient(to right,rgb(14, 14, 145) , rgb(10, 10, 80));
    width: 90%;
    height: 100%;
    border: 5px inset rgb(71, 71, 221);
    margin-bottom: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

