

footer {
    width: 100%;
    background: #F8F8FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 2px 10px 50px rgba(0, 0, 0, 0.6);
    background-color: #212121;
    color: white;
}

.icons-social a {
    font-size: 30px;
    margin: 0 10px;
    color: white;
    cursor: pointer;
    transition: ease 0.6s;
}

.icons-social a:hover:first-child {
    color: red;
    transition: ease 0.6s;
}

.icons-social a:hover:last-child {
    color: blue;
    transition: ease 0.6s;
}

.direitos {
    margin: 0 10px;
}