.projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    margin: 10px 0;
    font-family: Arial, Helvetica, sans-serif;
}

.projetos h2 {
    font-size: 4vh;
    text-align: center;
    background-image: linear-gradient(to bottom, rgb(239, 239, 239), rgb(138, 173, 201), rgb(108, 206, 196));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.projetos p {
    font-size: 2.4vh;
    text-align: center;
    background-image: linear-gradient(to bottom, rgb(239, 239, 239), rgb(138, 173, 201), rgb(108, 206, 196));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 10px 0;
}

.projetosImagens {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    width: 80%;
    max-width: 480px;
    margin: 10px 0;
    position: relative;
}

.projetosImagens div img {
    max-width: 150px;
    height: auto;
    border-radius: 20px;
    transition: 0.4s ease;
    border: 2px inset wheat;
}

.projetosImagens div img:hover {
    transform: scale(1.1);
    transition: 0.4s ease;
}

.contato {
    margin: 20px 0;
}
.contato div {
    font-size: 25px;
    color: white;
    margin: 10px 0;
}

@media (max-width: 1400px) {
    .projetos {
        width: 100%;
    }
}

@media (max-width: 800px) {
    .projetosImagens {
        max-width: 330px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 550px) {
    .projetosImagens {
        max-width: 140px;
        grid-template-columns: repeat(1, 1fr);
    }
    .contato div {
        font-size: 17px;
    }
}
@media (max-width: 290px) {
    div img {
        max-width: 133px;
        height: auto;
        border-radius: 20px;
        transition: 0.4s ease;
        border: 2px inset blue;
    }
}