.sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 42%;
    font-family: Arial, Helvetica, sans-serif;
}

.sobre h1 {
    font-size: 5vh;
    color: white;
    background-image: linear-gradient(to bottom, rebeccapurple, steelblue, turquoise);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sobreEu {
    font-size: 3vh;
    color: white;
    margin: 10px 0;
}

.web {
    text-align: center;
    font-size: 3vh;
}

.sobreMim {
    width: 60%;
    font-size: 1.8vh;
    background-image: linear-gradient(to bottom, rgb(239, 239, 239), rgb(138, 173, 201), rgb(108, 206, 196));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.brunoImg {
    margin: 10px 0;
}

.brunoImg img {
    border-radius: 50%;
    width: 200px;
    height: auto;
}

.skills h2 {
    color: blue;
    text-align: center;
    font-size: 4.5vh;
    margin: 10px 0;
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    width: 70%;
}

.skills div {
    margin: 5px 10px;
    font-size: 40px;
    display: inline;
}

.iconsCima>div:nth-child(1) {
    color: rgb(220, 143, 0);
}

.iconsCima>div:nth-child(2) {
    color: blue;
}

.iconsCima>div:nth-child(3) {
    color: rgb(235, 173, 58);
}

.iconsCima>div:nth-child(4) {
    color: orangered;
}

.iconsBaixo>div:nth-child(1) {
    color: rgb(0, 72, 255);
}

.iconsBaixo>div:nth-child(2) {
    color: orange;
}

.iconsBaixo>div:nth-child(3) {
    color: rgb(197, 10, 10);
}

@media (max-width: 1400px) {
    .sobre {
        width: 100%;
    }
}

@media (max-width: 670px) {
    .sobre h1 {
        font-size: 4vh;
    }
    .skills {
        width: 100%;
    }
}  

@media (max-width: 400px) {
    .sobreEu {
        font-size: 1.9vh;
    }
    .sobre h1 {
        font-size: 2.7vh;
    }

    .skills h2 {
        font-size: 3.6vh;
    }
    .skills {
        width: 200px;
    }
}    

